*,
*::after,
*::before { box-sizing: border-box; }

html {
	min-width: 320px;
}
body { 
	margin: 0;
	font-family: Arial,sans-serif;
	font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {margin: 0;}
ul {margin: 0;padding: 0;}

.container {
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}

.blue-bar {
	background-color: #00122f;
	color: #fff;
}

.blue-bar a{
	color: #fff;
}

.blue-bar__content {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}


.header {
	display: flex;
	justify-content: space-between;
	margin: 40px 0;
}

.header__item {
	display: flex;
	align-items: center;
}

.header__left a {
	color: #448ccb;
	text-decoration: none;
	border-bottom: 1px dashed #448ccb;
}

.header__logo {
	margin-right: 60px;
}

.header__weather {
	margin-right: 50px;
	font-size: 16px;
	color: #91919f;
}

.header__search-block input {
	border: none;
	background-color: #f3f3f3;
	width: 320px;
	height: 45px;
	padding-left: 22px;
	border-radius: 20px;
	font-size: 14px;
}


.header__search-block {
	position: relative;
}

.header__search-block::after {
	content: '';
	position: absolute;
	background: url('../img/header/search.png');
	width: 16px;
	height: 16px;
	top: 14px;
	right: 20px;
}

.header__burger,
.header__logo2,
.header__search {
	display: none;
}

.nav { 
	margin-bottom: 35px; 
	display: flex;
	justify-content: space-between;
}

.nav__item {
	font-size: 16px;
	text-decoration: none;
	color: #000;
}

.nav__break {
	color: #91919f;
	font-size: 20px;
}

/* Main */
.main {
	background-color: #f9f9f9;
	padding-top: 20px;
}

.main__content {
	display: flex;
	justify-content: space-between;
}

.datetime {
	display: none;
	color: #91919f;
	font-size: 16px;
}

.datetime img {
	margin-right: 10px;
}

/* Left-column */
.left-column {
	background-color: #fff;
	width: 250px;
	
}
.block-news {

}
.block-news__content {
	padding: 0 18px;
}
.block-news__title {
	font-size: 20px;
	padding: 25px 0;
	border-bottom: 1px solid #e5e5e5;
	padding-left: 18px;
	margin-bottom: 35px;

}
.left-column__btn {
	text-decoration: none;
	color: #448ccb;
	border: 1px solid #448ccb;
	border-radius: 30px;
	padding: 17px 0;
	display: block;
	margin: 40px auto 25px;
	max-width: 175px;
	text-align: center;
}

/* News */

.news_bottom {
	margin-bottom: 20px;
}

.news_bottom:last-child {
	margin-bottom:0px;
}

.news__title {
	margin: 20px 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.news__title_bold {
	font-weight: 700;
	margin: 10px 0;
	/* max-width: 365px; */
}

.news__footer {
	display: flex;
}

.news__theme {
	font-size: 12px;
	color: #91919f;
}

.news__time { 
	margin-left: auto; 
	display: inline-block;
}

.news__time_left {
	margin-left: 15px;
}

.news__time_main {
	color: #fff;
}

.news__comments { 
	/* margin-right: 20px; */
	margin-left: 20px; 
}

.news__comments_main {
	margin-right: 20px;
}

.news__date {
	color: #fff;
	margin-right: 20px;
}

.img-news {
	position: relative;
	color: #fff;
	font-size: 12px;
}

.img-news__content {
	position: absolute;
	bottom: 40px;
	left: 20px;
}

.img-news__title {
	font-size: 30px;
	line-height: 35px;
	margin: 25px 0 20px;
}
.ing-news__text {
	margin-top: 30px;
	max-width: 480px;
}

/* Right-column */
.right-column {
	width: 250px;
}

.right-column__banner + .right-column__banner {
	margin-top: 20px;
}

.right-column__banner img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* center-column */

.center-column {
	margin: 0 20px;
	max-width: 462px;
}

.news__img, .img-news__bg img {
	display: block;
	max-width: 100%;
	height: auto;
}

.center-column__content {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.center-column__item {
	max-width: 221px;
}

.center-column__item + .center-column__item {
	margin-left: 20px;
}


/* bottom-section */
.bottom-section {
	display: flex;
	margin: 20px 0 60px;
}

.bottom-section__left {
	min-width: 546px;
}/* 
.img-news__bg_bottom img {
	display: inline;
} */
.bottom-section__right {
	background-color: #fff;
}

.footer {
	background-color: #00122f;
	color: #fff;
	font-size: 16px;
}

.footer a {
	text-decoration: none;
	color: #fff;
	display: block;
}

.footer a:hover {
	text-decoration: underline;
}

.footer__content {
	display: flex;
	justify-content: space-between;
	padding: 55px 0;
}

.footer-nav {
	display: flex;
}

.footer-nav__left {
	margin-right: 60px;
}

.footer-nav__item + .footer-nav__item {
	margin-top: 20px;
}

.contact-link {
	margin-top: 20px;
}

.social-media__item + .social-media__item {
	margin-left: 20px;
}

.call-us {
	margin: 40px 0 30px;
	display: flex;
	align-items: center;
}
.call-us,
.email {
	font-size: 18px;
}
.icon {
	margin-right: 20px;
}

.copyright {
	text-align: center;
	color: #727882;
	font-size: 14px;
	border-top: 1px solid #26354e;
	padding: 20px 0;
}


@media (max-width: 991px) {


	.header__logo {
		margin-right: 30px;
	}
	.header__weather {
		margin-right: 20px;
	}
	/* nav */
	.nav__item {
		font-size: 13px;
	}

	.nav__break {
		font-size: 17px;
	}
	
	.main__content {
		flex-wrap: wrap;
	}

	.center-column {
		order: -1;
		margin: 0 auto;
		width: 60%;
	}

	.left-column {
		width: 40%;
	}

	.right-column {
		margin-top: 20px;
		width: 100%;
		max-height: 400px;
		display: flex;
		/* align-items: center; */
		justify-content: space-around;
	}

	.right-column__banner + .right-column__banner {
		margin-top: 0px;
	}

	.right-column__banner:last-child img {
		max-height: 400px;
	}

	.img-news__content {
		bottom: 20px;
		left: 15px;
	}
	.img-news__title {
		font-size: 20px;
		margin: 10px 0;
	}
	.img-news__date img {
		margin: 0 3px 0 10px;
	}


	.bottom-section {
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 30px;
		/* align-items: center; */
	}

	/* .bottom-section__left, */
	.bottom-section__right { 
		width: 100% ;
		text-align: center;
		margin-top: 20px;
	}

	.news__footer {
		justify-content: center;
	}
}

@media (max-width: 767px) {
	
	body {
		font-size: 13px;
	}

	.container {
		padding: 0 25px;
	}

	.blue-bar__content {
		justify-content: center;
	}

	.blue-bar__date {
		display: none;
	}
	
	.shadow {
		box-shadow: 0px 1px 36px 0px rgba(0,0,0,0.25);
	}

	.header {
		margin: 0;
		padding: 13px 0;
		align-items: center;
	}
	.header__item {
		display: none;
	}

	.header__burger,
	.header__logo2,
	.header__search {
		display: block;
	}

	.nav {display: none;}

	.main {
		padding-top: 0;
	}
	
	.news__title {
		font-size: 13px;
	} 

	.datetime {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 40px 0;
	}

	.bottom-section__left {
	min-width: 0;
	}

	.left-column {
		width: 100%;
		margin-top: 20px;
	}

	.center-column {
		width: 100%;
	}

	.footer__content {
		flex-direction: column;
		padding: 45px 0 25px;
		/* justify-content: center; */
	}

	.footer__item:first-child, 
	.footer__item:last-child {
		border-bottom: 1px solid #26354e;
		padding-bottom: 30px;
	}

	.footer__item:nth-child(2){
		margin: 30px 0 50px;
	}

	.copyright {
		border-top: 0;
		padding-top: 0;
	}
}

@media (max-width: 480px) {
	
	.container {
		padding: 0;
	}

	.header {
		padding: 13px 25px;
	}

	.datetime {
		padding: 40px 25px;
	}

	.center-column__content {
		flex-wrap: wrap;
	}

	.center-column__item + .center-column__item {
		margin-left: 0;
		margin-top: 30px;
	}

	.ing-news__text {
		display: none;
	}

	.footer{
		padding: 0 25px;
		min-width: 320px;
	}
}

@media (max-width: 319px) {
	.container {
		min-width: 320px;
	}
}
